@charset "utf-8";
* { margin: 0; padding: 0}
*, *:before, *:after {-webkit-box-sizing: border-box;box-sizing: border-box}
html { background-color: $backColor; font-size: 16px; min-width: 960px; font-family: "M PLUS 1p"; overflow-y: hidden;}
ul { list-style: none;}
a { color: inherit; text-decoration: none;}
h1 { margin: 0;}
plefix::before { content: ""; display: table;}
plefix::after { clear: both;}
body { position: relative; background-color: $backColor; width: 100%;}
.text-area { resize: none; }
.hidden { display: none;}
.btn:hover { opacity: .7; cursor: pointer; }