
// color
$sidebar-header-color: #253141;
$sidebar-main-color: #2f3e51;
$backColor: #fafafa;
$blueColor: #38aef0;

@mixin font1($font-size: 16px) {
  font-size: $font-size;
  color: #ffffff;
  font-family: Roboto;
}

@mixin flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}